<ul class="share-box">
    <li class="share-li-lg">
        <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-lg facebook">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span>
        </a>
    </li>

    <li class="share-li-lg">
        <a href="javascript:void(0)" onclick="window.open('https://twitter.com/share?url=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-lg twitter">
            <i class="fa fa-twitter"></i>
            <span>Twitter</span>
        </a>
    </li>
    <li class="share-li-lg">
        <a href="javascript:void(0)" onclick="window.open('https://plus.google.com/share?url=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-lg google">
            <i class="fa fa-google-plus"></i>
            <span>Google</span>
        </a>
    </li>


    <li class="share-li-sm">
        <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-sm facebook">
            <i class="fa fa-facebook"></i>
        </a>
    </li>

    <li class="share-li-sm">
        <a href="javascript:void(0)" onclick="window.open('https://twitter.com/share?url=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-sm twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </li>

    <li class="share-li-sm">
        <a href="javascript:void(0)" onclick="window.open('https://plus.google.com/share?url=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-sm google">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>

    <li>
        <a href="javascript:void(0)" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-sm linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>
    <li class="li-whatsapp">
        <a href="https://api.whatsapp.com/send?text=राष्ट्रीय समान अधिकार यात्रा के पहले चरण में मिला भारी समर्थन, सवर्णों द्वारा इतिहास रचा जाएगा - http://rashtriyasamanadhikar.com" class="social-btn-sm whatsapp" target="_blank">
            <i class="fa fa-whatsapp"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="window.open('http://pinterest.com/pin/create/button/?url=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-sm pinterest">
            <i class="fa fa-pinterest"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="window.open('http://www.tumblr.com/share/link?url=http://rashtriyasamanadhikar.com', 'Share This Post', 'width=640,height=450');return false" class="social-btn-sm tumblr">
            <i class="fa fa-tumblr"></i>
        </a>
    </li>


    <!--Add to Reading List-->
    <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-login" data-toggle-tool="tooltip" data-placement="top" title="" class="social-btn-sm add-reading-list" data-original-title="Add to Reading List">
            <i class="fa fa-star"></i>
        </a>
    </li>

</ul>
