
@{
    ViewBag.Title = "एक परिचय";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 class="h2 p-3 bg-dark">एक परिचय : राष्ट्रीय समान अधिकार </h2>*@
<div class="p-5 mt-5">
    <section data-scroll>
        <h1  data-scroll class="text-right"> राष्ट्रीय समान अधिकार यात्रा : एक परिचय</h1>
        <p  data-scroll class="text-justify">
                    भारत एक सभ्यता युक्त राष्ट्र के रूप में अपने आप को संयोजित किया हैं। यह भारत का अपना गौरवशाली परम्परा रही है कि वह मानवता के साथ-साथ प्रकृति के सभी दैविक उत्पत्तियों से प्यार किया हैं। साथ ही साथ भारत में जन्म लेने वाले मनुष्यों को एक संस्कृति परम्परागत तरीकों से पीढ़ी दर पीढ़ी बढ़ाने की बौद्धिक क्षमता प्रदान किया। जहाँ सत्य ही जीवन हैं और सनातन एक परम्परा के स्वरूप में जीवन की कला प्रदान किया। संपूर्ण सृष्टि में ईश्वरीय शक्ति का समावेश भारतीय भू-भाग से ही प्रवृष्ठ हुई। हमें यह समझने की आवश्यकता है कि हमें किस स्वरूप में भारत का नया निर्माण करना है। निर्माण की परिभाषा हमें तय करना होगा, क्योंकि वर्त्तमान राजनीतिक क्षमता से भारत का विकास संभव नहीं दिख रहा हैं। भारत की आजादी के बाद से ही अंग्रेजी परम्पराओं को आगे बढ़ाने में कोई कसर नहीं छोड़ी गई। हमारे कानूनविद्वों द्वारा भारत को बिना समझे ही संविधान बनाया गया। संपूर्ण विश्व के संविधान में से कुछ-कुछ लेकर उस भारत का संविधान बनाया गया, जो खुद लोकतंत्र की स्थापना का जीता जागता उदाहरण रहा हैं। लोकतंत्र के लिए सिर्फ और सिर्फ भारत उत्तरदायी है और इस राष्ट्र के निर्माण में विश्व के मापदंड को फाँलों किया गया। यह दुखद् है कि अगर हमारे संविधानविद्वों को यह समझ नहीं आई तो उन्हें वैशाली आकर समय देना चाहिए था।
           </p>
        </section>

    <section data-scroll>
        <h2  data-scroll class="text-right">लोकतंत्र की स्थापना</h2>
        <p data-scroll class="text-justify">
            खैर, यह आज महत्त्वपूर्ण हो चला है कि भारत में लोकतंत्र की स्थापना का मार्ग पूर्ण रूप से प्रसस्त हैं। लेकिन हमारे राजनैतिक दलालों के चलते ही भारत लोकतंत्र से कोसों दूरी पर हैं। लोकतंत्र में प्रत्येक व्यक्ति को महत्व दिया जाता है और आज हमारे भारत को लोकतांत्रिक देश मानते हुए भी लोकतंत्र की कोई गुंजाइश नजर नहीं आती हैं। आम जनता को राजनेताओं व ब्यूरोक्रेसी के माध्यम से गुलाम बना कर रखा गया है। राजनीतिक पुरोहितों द्वारा आम जनमानस में एकता को खंडित-खंडित कर रखा गया है। राजनीतिक पुरोहितों द्वारा हिंदू-मुस्लिम, जाति-धर्म, क्षेत्रवार के नाम पर लगातार बाँटते रहते थें। लेकिन अच्छे दिन की सरकार के आने के बाद पति-पत्नी के रिश्तों को भी तार-तार कर दिया। वहीं अराजकता हर परिवार में फैलाया गया और पिता-पुत्र के रिश्तों तक को तार-तार अच्छे दिन की सरकार ने कर दिया। साथ-ही-साथ भारत की अखंडता तो खंडित करने के लिए युवाओं को गुमराह कर राम के नाम पर तार-तार कर दिया गया और भारत के युवाओं को अपराधी बनाया गया। राम नाम जहाँ भव सागर पार करने का माध्यम है, वह आज राम के नाम पर 90% हिंदू के बच्चों को जेलों में डाल दिया। यहीं जब अच्छे दिन लाने की तैयारी थी तो तथाकथित हिंदू सम्राट द्वारा युवाओं को राम मंदिर के नाम पर आंदोलित किया गया, जिसका परिणाम ही है कि युवाओं को हासिल हुआ तो सिर्फ़ और सिर्फ़ जेल। जाति वाद विवाद जो 2014 लोकसभा चुनाव में खत्म होते नज़र आई थी, वह आज बड़ा राजनैतिक हथियार बन चुका है। वर्ण व्यवस्था को धर्मवाद और जातिवाद से लेकर छोटी-छोटी प्रजातियों में अच्छे दिन की सरकार ने बदल दिया।
        </p>
    </section>
    <section data-scroll>
        <p  data-scroll class="text-justify">
            आज एकता और अखंडता की मजबूती के लिए ही राष्ट्रीय समान अधिकार यात्रा शुरू की गई हैं। राष्ट्रीय समान अधिकार यात्रा जो 02 अक्टूबर 2018 से गाँधी की जन्मभूमि चम्पारण से शुरुआत की गई और 5 फरवरी 2019 को यात्रा का समापन किया जाएगा। वहीं इस राष्ट्रीय समान अधिकार यात्रा का सबसे महत्त्वपूर्ण भूमिका 25 फरवरी 2018 को गाँधी मैदान, पटना में आयोजित महारैली के माध्यम से समपन्न किया जाएगा।
        </p>
        <p  data-scroll class="text-justify">
            यह जनसंपर्क यात्रा भारत को राजनैतिक रूप से मजबूत करने के लिए किया जा रहा है। धर्म, जाति के नाम पर राजनैतिक एजेंडें को ध्वस्त करने की तैयारी है। युवा भारत को युवाओं के साथ नये राजनीतिक भविष्य तय करने के लिए तैयार किया जा रहा है। राजनैतिक महत्वाकांक्षा को युवाओं को समझने के लिए ही राष्ट्रीय समान अधिकार यात्रा के माध्यम से पुरा किया जा रहा है। बौद्धिक विकास के लिए हमें नई राजनीतिक जीवन को जीने का मार्ग प्रसस्त किया जा रहा है। राष्ट्रीय समान अधिकार यात्रा की आवश्यकता को महसूस करते हुए हमारी संपूर्ण सदस्यों द्वारा एक जनसंपर्क यात्रा की जा रही हैं। । जिसकी नेतृत्व की जिम्मेदारी मुझे (ई. रविन्द्र कुमार सिंह) सौंपा गया है।
        </p>
</section>
    <section data-scroll>
        <p data-scroll class="text-justify">
            ई. रविन्द्र कुमार सिंह एक व्यवसायिक भूमिका को बहुत बेहतरीन तरीके से सैंकड़ो परिवार का पालन-पोषण कर रहे हैं। सामाजिक न्याय को समझने का मौका अपने सहयोगियों के माध्यम से ही बहुत कुछ प्राप्त हुआ। अपने व्यवसायिक भूमिका के बाद सामाजिक व राजनैतिक परिवर्त्तन के लिए आगें बढ़कर एक नया नेतृत्व प्रदान करने का प्रयास करते जा रहे हैं।
        </p>
        <p data-scroll class="text-justify">
            इस बड़ी जिम्मेदारी को बेहतरीन तरीके से सफ़ल बनाने के लिए हम कटिबद्ध है और हम मिलकर नया भारत मबनायेंगे।
        </p>
        <p data-scroll class="text-justify">
            राष्ट्रीय समान अधिकार यात्रा, बिहार से भारत की सामाजिक व राजनैतिक परिवर्त्तन की एक बहुत महत्त्वपूर्ण नींव रखी गई हैं। आने वाले कुछ चंद महिनों में ही बिहार में एक अलग प्रकार की राजनैतिक व सामाजिक बदलाव की नींव के साथ-साथ बदलाव नजर आएगी। राष्ट्रीय समान अधिकार का मुख्य उद्देश्य बिहार से एकबार फिर लोकतंत्र की मजबूती का प्रयास और अंतिम व्यक्ति को भारतीयता पर पूर्णरूपेण गर्व हो।

        </p>
    </section>
    <section data-scroll>
   
    <p  data-scroll class="text-justify">
        राष्ट्रीय समान अधिकार एक व्यापक सोच़ हैं राष्ट्र निर्माण का। आज भारत में संवैधानिक रूप से भारतीयों को अलग-थलग कर राजनेता अपनी राजनीति सेंक रहे हैं। जिसका परिणाम ही है कि भारत में जातिवाद, धर्मवाद, क्षेत्रवाद, भाषावाद, ऊँच-नीच के भागों में बाँटकर अखंड टुकड़े कर दिये गये हैं। भारत में आज की राजनीति निरंतरता के साथ बदल रहा हैं, कभी हिंदू-मुस्लिम, सवर्ण-दलित, सामान्य-अल्पसंख्यक ना जाने कितने विचारों को अपने में समाहित कर रखा गया है।
    </p>
        <p  data-scroll class="text-justify">
            जहाँ आज भारत के सदनों में बैठे राजनीतिक दलों द्वारा सर्वोच्च न्यायालय की भी बातें मानवीय संवेदना के लिए भी नहीं मानी। वहीं भारत के 85% - 90% आबादी पर काला कानून लगाकर, भारत में अँग्रेजी हुकूमत की याद ताजा कर दिया। बड़े-बुजुर्गों का कहना हैं कि अंग्रेजों द्वारा शासन की व्यवस्था थी, पर आज सत्ता की व्यवस्था में मदमस्त हैं।
        </p>
        <p  data-scroll class="text-justify">
            इसलिए यह यात्रा राष्ट्रीय समान अधिकार यात्रा के रूप में सवर्णों को एकत्रित कर राष्ट्र निर्माण में फिर अग्रणी भूमिका निभाने के लिए संचालित किया जा रहा है। राष्ट्रीय समान अधिकार यात्रा का संपूर्ण बिहार की यात्रा का संपूर्ण परिचय हम यहाँ उपलब्ध कराते रहेंगें।
        </p>
</section>
</div>