@model IEnumerable<RSAWebApplication.DBModels.M_BannerMaster>

@{
    ViewBag.Title = "गैलरी";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="mt-5" data-scroll>
        <h2 class="h2 text-right bg-info mt-5 p-3 text-white shadow text-left" data-scroll>गैलरी</h2>
        <div class="row">
            @{
                DirectoryInfo directory = new DirectoryInfo(Server.MapPath(Resources.RSAResourcesAdmin.GallaryPath));
                FileInfo[] files = directory.GetFiles("*.*");
                foreach (var FileName in files.OrderByDescending(x => x.CreationTime))
                {
                    <div class="col-4 col-lg-4 col-md-6 col-sm-12  shadow p-3"  data-scroll>
                            <a href="@(Resources.RSAResourcesAdmin.GallaryPath+FileName.Name)" target="_blank" data-toggle="lightbox" data-title="राष्ट्रीय समान अधिकार" data-gallery="राष्ट्रीय समान अधिकार-gallery">
                                <img src="@(Resources.RSAResourcesAdmin.GallaryPath+FileName.Name)" class="img-fluid img-thumbnail  w-100 h-100" alt="राष्ट्रीय समान अधिकार">
                            </a>
                    </div>
                }
            }
            <div class="col-4 col-lg-4 col-md-6 col-sm-12  shadow bg-info p-3" data-scroll>
            </div>
            <div class="col-4 col-lg-4 col-md-6 col-sm-12  shadow bg-info p-3" data-scroll>
            </div>
        </div>
                GallaryPath

            </div>
        </div>

</div>

