
@{
    ViewBag.Title = "मीडिया";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="mt-5  img-thumbnail" data-scroll>
        <h2 class="h2 text-right bg-info mt-5 p-3 text-white shadow" data-scroll>मीडिया</h2>
        <div class="row bg-secondary text-justify shadow  p-5 text-white">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-6 col-sm-12 p-3  shadow" data-scroll>
                    <p>राष्ट्रीय समान अधिकार यात्रा का अपना एक मिडिया ग्रुप हैं। इस मिडिया ग्रुप के माध्यम से यात्रा के संबंध में आप सभी को सभी प्रकार की जानकारी उपलब्ध कराई जाती रहेगी।</p>
                    <p>राष्ट्रीय समान अधिकार यात्रा के संबंध में मिडिया के माध्यम से आप सभी को समय-समय पर सूचना मिलता रहेगा।</p>
                    <p>आप किसी भी प्रकार की जानकारी के लिए राष्ट्रीय समान अधिकार यात्रा के मिडिया टीम से संपर्क कर सकते हैं।</p>
                </div>
                <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="~/Images/newsmedia.png"  class="img-fluid img-thumbnail"/>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="img-thumbnail" data-scroll>
        <h2 class="h2 text-right bg-info mt-5 p-3 text-white shadow" data-scroll>कार्यक्रम</h2>
        <div class="row bg-light text-justify shadow  p-5 text-white">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="~/Images/nit-tatha-karykaram.jpg" class="img-fluid img-thumbnail" />
                </div>
                <div class="col-6 col-lg-6 col-md-6 col-sm-12 p-3 shadow bg-secondary" data-scroll>
                    <p data-scroll>राष्ट्रीय समान अधिकार यात्रा  एक राष्ट्र निर्माण की एक कड़ी है। यह कार्यक्रम की महत्वपूर्ण पहलू हैं जहाँ से आप सभी राष्ट्रीय समान अधिकार यात्रा के संबंध में सभी जानकारी प्राप्त होता रहेगा।</p>
                    <p data-scroll>राष्ट्रीय समान अधिकार यात्रा का अब पाँचवीं यात्रा की शुरुआत हो रही हैं।</p>
                </div>

            </div>
        </div>
    </div>

    <div class="img-thumbnail" data-scroll>
        <h2 class="h2 text-right bg-info mt-5 p-3 text-white shadow text-center" data-scroll>शिक्षा</h2>
        <div class="row bg-light text-justify shadow  p-5 text-white">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-6 col-sm-12  shadow bg-info p-3" data-scroll>
                    <p data-scroll>राष्ट्रीय समान अधिकार यात्रा   एक व्यापक सोच़ के साथ बिहार की यात्रा कर रही हैं। जहाँ भारत कभी विश्व गुरु के रूप में स्थापित रहा हैं। इस कड़ी को पुनः स्थापित करने के लिए यात्रा के क्रम में शिक्षा के लिए भी जागरूकता फैलाई जाती हैं।  राष्ट्रीय समान अधिकार की एक नई पहल बहुत जल्दी ही समाजिक स्तर पर शिक्षा को लेकर शुरू किया जाएगा।</p>
                </div>
                <div class="col-6 col-lg-6 col-md-6 col-sm-12 p-1 shadow bg-info" data-scroll>
                    <img src="~/Images/download.jpg" width="100%" class="img-fluid img-thumbnail" />                  
                </div>

            </div>
        </div>
    </div>
    <div class="img-thumbnail" data-scroll>
        <h2 class="h2 text-right bg-info mt-5 p-3 text-white shadow text-left" data-scroll>चिकित्सा</h2>
        <div class="row bg-light text-justify shadow  p-5 text-white">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-6 col-sm-12  shadow bg-info p-3" data-scroll>
                    <img src="~/Images/maxresdefault.jpg" width="100%" class="img-fluid img-thumbnail" />
                    <p>बिहारवासियों को चिकित्सा क्षेत्र में किसी भी प्रकार की सहायता की आवश्यकता होगी तो राष्ट्रीय समान अधिकार हर संभव संयोग करने का प्रयास करेगी।</p>
                </div>
                <div class="col-6 col-lg-6 col-md-6 col-sm-12 p-5 shadow bg-info" data-scroll>
                    <p data-scroll>मानवीय मूल्यों को जीवित रखने के लिए चिकित्सा का अपना स्थान है। राष्ट्रीय समान अधिकार यात्रा के माध्यम से चिकित्सा की जरूरत मंदों को मदद पहुँचाती रहती हैं। राष्ट्रीय समान अधिकार यात्रा के क्रम में जरूरत मंदों के लिए मदद का हाथ बढ़ाती रही हैं। राष्ट्रीय समान अधिकार यात्रा  प्रत्येक जिलों में चिकित्सा क्षेत्रों के सामाजिक चिकित्सकों के माध्यम से मदद पहुँचाई जाती हैं।</p>
                </div>

            </div>
        </div>
    </div>

<div class="mt-5">
    <h2 class="h2 text-right" data-scroll></h2>
    <div class="h-100" data-scroll>
        
    </div>
    <div class="h-100" data-scroll>
        
    </div>
</div>
