
@{
    ViewBag.Title = "संयोजक";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section data-scroll>
    
    <div class="col-md-8 float-left">
        <div class="h3" data-scroll>
            प्रिय साथियों, अभिभावकों, नवयुवक साथियों।
        </div>
        <p data-scroll class="text-justify">
            नमस्कार।
<br />
            आज जो मैं कहने जा रहा हूँ, वह भारत की अखंडता का एक स्वरूप मात्र ही नहीं, संपूर्ण भारत की एक जीवनशैली हैं। भारत का इतिहास विस्तृत श्रृंखला हैं, जिसे पन्नों पर उकेरा नहीं जा सकता है। भारतवर्ष की अलौकिक परंपरा का ही परिणाम है कि हम एकता की बेजोड़ मिशाल हैं। भारतीयों का ऐतिहासिक दृष्टिकोण ही भारत को दुनिया भर से अलग करता है। इस बात को समझने की आवश्यकता ही हैं, कि हम एक नई उर्जा के साथ नया रास्ता बनाने चल पड़े हैं। इस मिशन को व्यापक रूप से समर्थन प्राप्त हो इसी को लेकर राष्ट्रीय समान अधिकार यात्रा की नींव रखी जाए। राष्ट्रीय समान अधिकार यात्रा एक राष्ट्रीय एकता का पहला कदम है। जिसे हमारे कुछ साथियों के विचार एवं सहयोग से शुरू किया गया है। यह राष्ट्रीय समान अधिकार यात्रा एक व्यापकता से भरा हुआ जनसंपर्क यात्रा हैं। जिसकी शुरूआत 02 अक्टूबर 2018 से चंपारण की ऐतिहासिक भूमि से किया गया। आज वर्तमान मोतिहारी के गाँधी संग्रहालय से पैदल यात्रा शुरु कर गाँधी स्मारक तक का सफ़र तय किया गया। जिसके साथ ही एक ऐतिहासिक कदम उठाने का सौभाग्य प्राप्त हुआ।
        </p>
    </div>
    <div class="col-md-4 float-md-right">
        <img src="~/Images/GallaryImages/RSA_Profile_Er_RavinderSingh_1.jpg" class="img-fluid img-thumbnail" />
        </div>
</section>
<section data-scroll>
    <div class="col-md-4 float-left">
        <img src="~/Images/GallaryImages/RSA_Profile_Er_RavinderSingh_2.jpg" class="img-fluid img-thumbnail" />
    </div>
    <div class="col-md-8 float-right">
        <p data-scroll class="text-justify">
            आज भारत के अखंडता को हमारे देश के राजनेताओं की संक्रमित मानसिकता से हैं। जिन्होंने भारत को लगातार धर्म, जाति, क्षेत्रों के आधार पर बाँट कर शासन चलाते आ रहे हैं। राजनीति का धर्म हैं कि वह अपने राष्ट्र को एक सूत्र में बाँधे, लेकिन दुर्भाग्य है कि आजादी के बाद आज तक ऐसा नेता जन्म नहीं लिया जो भारत को एक सूत्र में बाँध सकें। अपवाद नेहरु और पटेल ( जिन्होंने 562 रियासतों को एकत्र कर भारत को पूर्ण किया)। लेकिन आज भारत के उन रियासतों के भारत की अखंडता में अपना संपूर्ण धन-दौलत न्यौछावर करने की अनदेखी की जा रही हैं। एक वर्ग जो भारतवर्ष को धन-संपदा से मजबूत कर अपना संपूर्ण खजाना भारतीयों को समर्पित कर हर भारतीयों को भोजन प्राप्त हो इसके लिए सरकार पर भरोसा दिखाया। गरीब वर्गों को आरक्षण के साथ साथ हर कदम पर सुविधाओं की लंबी कतार लगा दी गई, लेकिन गरीब, पिछड़े वर्गों, अनुसूचित जाति व जन जातियों को शिक्षित नहीं होने दिया गया। चिकित्सा पद्धति को ठेके पर रखकर छोड़ दिया गया है। वहीं आरक्षण और SC/ST कानून के माध्यम से समाज को खंडित-खंडित कर दिया गया है। भारत की 85% आबादी के साथ कानूनी तौर पर जकड़ दिया गया है।
        </p>
        </div>
</section>
<section data-scroll>
    <p data-scroll class="text-justify">
        भारत को आजादी 15 अगस्त 1947 को मिला, तो भारत की अर्थव्यवस्था को सबसे मजबूती से संभालकर रखा कृषि ने। भारत की अर्थशास्त्र और अर्थव्यवस्था का सबसे महत्वपूर्ण स्तंभ किसान की खून पसीने में ही निहित रही थी। आज भारत जितना भी आगे बढ़ जाए, लेकिन कृषि से बाहर भारत का अस्तित्व आज भी कोई नहीं है। किसान भारत की 80% अर्थव्यवस्था को आज भी अपने खून से किसी ना किसी तरह सींच रहे हैंं। उसी अन्नदाता को कृषि उद्योग के रूप में स्थापित किया जाए। इसके लिए राष्ट्रीय समान अधिकार यात्रा के माध्यम से किसानों के लिए कटिबद्ध बना हुआ है और उद्योग के दर्जा को संवैधानिक व्यवस्था के लिए प्रयासरत रहेगा।
    </p>
    <p data-scroll class="text-justify  bg-danger m-5 p-5">
        राष्ट्रीय समान अधिकार एक ऐसे भारत का निर्माण करने को संकल्पित हैं, जहाँ संवैधानिकता को प्रमुखता से लागू कराया जाए। भारत के राजनेताओं के झूठ और फरेब की राजनीति से आम भारतीयों को बचाया जा सकें। आज भारत को जरूरत है कि संस्कृत, संस्कृति, संस्कार और समृद्धशाली ये चार गुणों से युक्त कर युवा भारत का निर्माण किया जाए। अंतिम व्यक्ति तक रोजगार की गारंटी, भोजन की गारंटी, शिक्षा की गारंटी, स्वास्थ्य की गारंटी, किसानों को एक सशक्त रूप से मजबूत किया जाए।

    </p>
</section>
<section data-scroll>
    <p data-scroll class="text-justify">
        ज्ञात हो कि अखंड भारत की लौ जगाकर रखने में भारत के सवर्ण समाज का 100% योगदान रहा है। सामाजिक न्याय और सामाजिक चेतना को लागू करने में सवर्णों में मानवता के आरंभ से ही चेतना रही हैं। जिसका ही परिणाम है कि भारत हमेशा से दुनिया भर में अपनी उपस्थिति दर्ज कराई है। सवर्ण समाज की ही देन है कि आज हम राजनैतिक चेतनाओं पर प्रभाव डालकर बिहार ही नहीं, बल्कि भारत की राजनीति में आज भी सवर्णों की भूमिका अद्वितीय है। चाहे वह कोई भी योजना हो या कोई भी सामाजिक न्याय की बात वह सब सवर्णों में ही निहित है।
    </p>
    <hr />
    <p data-scroll class="text-justify bg-dark m-5 p-5">
        मैं ई. रविन्द्र कुमार सिंह अह्वान करता हूँ कि भारत की अखंडता को बनाये रखने के लिए हम सबको आगे आना होगा। भारत की खूबसूरती इस बात में हैं कि भारत को एकल नीति से चलाया जाए। भारत को हम सब मिलकर अन्नदाता को उद्योग के रूप में सुशोभित करें,  एक कानूनी प्रक्रिया, एकल शिक्षानीति, एकल चिकित्सा पद्धति से सुशोभित किया जाए।
    </p>
</section>
