
@{
    ViewBag.Title = "संपर्क";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-contact p-5 m-5">
    <h2 class="h2">राष्ट्रीय समान अधिकार संपर्क</h2>
    <hr />
    <div class="row row-contact-text">
        <div class="col-sm-12 font-text">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 font-text">
            <h2 class="contact-leave-message">Send a Message</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <!-- include message block -->
            <!--print error messages-->
            <!--print custom error message-->
            <!--print custom success message-->
            <!-- form start -->
            <form action="http://rashtriyasamanadhikar.com/home/contact_post" method="post" accept-charset="utf-8">
                <input type="hidden" name="varient_csrf_token" value="4d4e3ef01a438efb9085878d61917a87">
                <div class="form-group">
                    <input type="text" class="form-control form-input" name="name" placeholder="Name" maxlength="199" minlength="1" pattern=".*\S+.*" value="" required="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-input" name="email" maxlength="199" placeholder="Email Address" value="" required="">
                </div>
                <div class="form-group">
                    <textarea class="form-control form-input form-textarea" name="message" placeholder="Message" maxlength="4970" minlength="5" required=""></textarea>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-custom pull-right">
                        Submit
                    </button>
                </div>

            </form><!-- form end -->


        </div>

        <div class="col-sm-6 col-xs-12 contact-right bg-secondary">





            <div class="col-sm-12 contact-social">
                <ul class="d-inline-block">
                    <!--Include social media links-->
                    <!--if facebook url exists-->
                    <li>
                        <a  class="facebook" href="https://www.facebook.com/rastriyasamanadhikar/" target="_blank"><i class="fa fa-facebook-f">Facebook</i></a>
                    </li>
                    <!--if twitter url exists-->
                    <!--if google url exists-->
                    <!--if pinterest url exists-->
                    <!--if instagram url exists-->
                    <!--if linkedin url exists-->
                    <!--if vk url exists-->
                    <!--if youtube url exists-->
                    <li>
                        <a class="youtube" href="https://www.youtube.com/channel/UCd71bLoMpNZ6HTxuBI-QnkQ" target="_blank"><i class="fa fa-youtube-play">YouTube</i></a>
                    </li>

                    <!--if rss active-->
                </ul>
            </div>


        </div>
    </div>

</div>