<nav id="sidebar" class="nav  nav-pills nav-stacked mt-5 pt-5 mb-5 pb-5" style="padding-bottom:10px; overflow-y: scroll;">
    <div class="sidebar-header">
        <div class="h5">राष्ट्रीय समान अधिकार</div>
    </div>
    <ul class="list-unstyled components">
        <li class="active"><a href="~/Home/index">पहला पन्ना</a></li>
        <li><a href="#homeSubmenu">कार्यक्रम</a></li>
        <li><a href="#homeSubmenu">शिक्षा</a></li>
        <li><a href="#homeSubmenu">चिकित्सा</a></li>
        <li><a href="#homeSubmenu">साहित्य</a></li>
        <li><a href="#homeSubmenu">कला</a></li>
        <li>
            <a href="#homeSubmenu">
                संस्कृत-संस्कृति
            </a>
        </li>
        <li>
            <a href="#homeSubmenu">
                कानूनी सहायता
            </a>
        </li>
        <li><a href="#homeSubmenu">साक्षात्कार</a></li>
        <li><a href="~/Home/संपर्क">संपर्क</a></li>
    <li><hr /></li>
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip">समाचार</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar">
                समाचार पत्र
            </a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar">
                समाचार चैनल
            </a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar">
                सामाजिक एकता : एक संदेश
            </a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar">
                संवाद : संयोजक
            </a>
        </li>
    </ul>
</nav>
